<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="OPRSNETDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=OPRSNETDB;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
    <add name="OPRSNETDBEntities" connectionString="metadata=res://*/App_Code.ADO.csdl|res://*/App_Code.ADO.ssdl|res://*/App_Code.ADO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=OPRSNETDB;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="OPRSNETDBEntities1" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=OPRSNETDB;integrated security=True;pooling=False;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="OPRSDBConnectionString" connectionString="Data Source=11C03E15151122\SQLEXPRESS;Initial Catalog=OPRSDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="OPRSDBConnectionString1" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=OPRSDB;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
  <add key="WS_SuperNotariado.NewWebService" value="http://10.5.2.156:8080/NewWebService/NewWebService"/>
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>